header, footer {
  width: 100%;
  height: 60px; /* Example height, you can adjust */
}

header {
  position: fixed;
  top: 0;
}

footer {
  position: fixed;
  bottom: 0;
}

#wrapper {
  margin-top: 60px; /* Same as header height */
  margin-bottom: 60px; /* Same as footer height */
}
